* {
	touch-action: manipulation;
}

body{
	font-size: 48px;
	font-family: sans-serif;
}

div {
	border: 0px dotted black;
	background-color: light-blue;
	font-size: 20px;
}

input, button, textarea, select{
	background-color: light-blue;
	border: 3px solid black;
	font-size: 300%;
}

.topbutton{
	width: 25%;
	font-size: 300%;
}

.smallbutton{
	width: 15%;
	font-size: 300%;
}
